import hudson.security.*
import jenkins.model.*

def instance = Jenkins.getInstance()

// println "--> Checking if security has been set already"

// if (!instance.isUseSecurity()) {
//     println "--> creating local user 'admin'"

    def hudsonRealm = new HudsonPrivateSecurityRealm(false)
    hudsonRealm.createAccount("{{ jenkins_login }}", "{{ jenkins_password }}")
    instance.setSecurityRealm(hudsonRealm)

    def strategy = new FullControlOnceLoggedInAuthorizationStrategy()
    instance.setAuthorizationStrategy(strategy)
    instance.save()
//println "--> Password for ADMIN has been set already"

// }
