<settings>
  <servers>
    
    <server>
      <id>release</id>
      <username>deployment</username>
      <password>{{ passDeploy }}</password>
    </server>
    
    <server>
      <id>snapshots</id>
      <username>deployment</username>
      <password>{{ passDeploy }}</password>      
    </server>
  </servers>
</settings>

