# 1. [gerrit] - gerrit machine
# 2. [jenkins] - jenkins machine
# 3. [nexus] - nexus machine
# 4. [instances] - all instances

{% for group in groups %}
{% if groups[group] and group != 'all' and group != 'local' and group != 'instances' and group != 'ungrouped' %}
[{{group}}]
{% for host in groups[group] %}
{{hostvars[host].inventory_hostname}} 
{% endfor %}

{% endif %}
{% endfor %}
[instances:children]
gerrit
jenkins
nexus
